/ {
    aliases { 
        analogin0 = &adc1;
        led0 = &led_r;
        led1 = &led_g;
        led2 = &led_b;
        sw0  = &user_button_3;
        rgbled = &rgb_led_ctrl;
        tcswake = &tcs_int_pin;
    };



    gpios {
        compatible = "gpio-leds";

        /* RGB COMMON ANODE -> use GPIO_ACTIVE_LOW */
        led_r: red_led {
            gpios = <&gpiob 5 GPIO_ACTIVE_LOW>;   /* D4 = PB5 */
            label = "LED Red";
        };
        led_g: green_led {
            gpios = <&gpiob 8 GPIO_ACTIVE_LOW>;   /* D5 = PB8 */
            label = "LED Green";
        };
        led_b: blue_led {
            gpios = <&gpiob 10 GPIO_ACTIVE_LOW>;  /* D6 = PB10 */
            label = "LED Blue";
        };
        rgb_led_ctrl: rgb_led_ctrl {
            gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;
            label = "LED TCS";
        };
        tcs_int_pin: tcs_int_pin {
            gpios = <&gpioa 5 GPIO_ACTIVE_LOW>;
            label = "TCS_INT_PIN";
        };
    };
};

&adc1 {
    status = "okay";
    pinctrl-0 = <&adc1_in0_pa0 &adc1_in1_pa1>;
    pinctrl-names = "default";
    #address-cells = <1>;
    #size-cells = <0>;

    channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };

    channel@1 {
        reg = <1>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};

&i2c1 {
    status = "okay";
    clock-frequency = <400000>;
    pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
    pinctrl-names = "default";

    mma8451@1d {
        compatible = "nxp,mma8451";
        reg = <0x1d>;
        status = "okay";
    };

    si7021@40 {
        compatible = "silabs,si7021";
        reg = <0x40>;
        status = "okay";
    };

    tcs34725@29 {
        compatible = "ams,tcs34725";
        reg = <0x29>;
        status = "okay";
    };

};

&usart1 {
    status = "okay";
    current-speed = <9600>;
    pinctrl-0 = <&usart1_rx_pa10>;
    pinctrl-names = "default";
};

&pinctrl {
    adc1_in0_pa0: adc1_in0_pa0 {
        pinmux = <STM32_PINMUX('A', 0, ANALOG)>;
    };
    adc1_in1_pa1: adc1_in1_pa1 {
        pinmux = <STM32_PINMUX('A', 1, ANALOG)>;
    };
};

&usart1 {
    status = "okay";
    current-speed = <9600>;
    pinctrl-0 = <&usart1_rx_pa10>;
    pinctrl-names = "default";
};